$blue: #00c3f5;
$blue-light: #02feff;
$yellow: #FAB702;
$blue20: #00c3f520;
$blue50: #00c3f550;
$green: #00A12A;
$red: #A61300;
$background-dark: #18191b;
$background-gray: #222;
$background-light: #fff;

$blue-gradient: linear-gradient(120deg, #00c3f5, #71E0FA);
$gray-gradient: linear-gradient(90deg, #fff, #ffffff80);

$border-color: #ddd;
$sub-item-bg: #f0f0f0;
$text-dark: #333;
$text-gray: #777;
$text-light: #fff;
$shadow-color: rgba(0, 0, 0, 0.05);

$color-success: #28a745;
$color-danger: #dc3545;
$color-muted: #6c757d;
$color-warning: #ffc107;
$color-info: #17a2b8;
$color-primary: #6610f2;
$color-pink: #e83e8c;
$color-dark: #27282a;
$color-light: #f8f9fa;

$border-radius: 6px;
$box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
$transition: all 0.3s ease;