$blue: #02feff;
$yellow: #FAB702;
$blue20: #00c3f520;
$blue50: #00c3f550;
$green: #00A12A;
$red: #A61300;
$background: #ddd;

$blue-gradient: linear-gradient(120deg, #00c3f5, #71E0FA);

$primary-color: #00c3f5;
$highlight-color: #ff9800;  // Цвет подсветки
$border-color: #ddd;
$background-light: #f7f7f7;
$sub-item-bg: #f0f0f0; // Цвет фона для расшифровок
$text-color: #18191b;
$shadow-color: rgba(0, 0, 0, 0.05);